In [3]:
# Importing Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

# Reading CSVs
stations_pd = pd.read_csv("Instructions/Resources/hawaii_stations.csv")
measurements_pd = pd.read_csv("Instructions/Resources/measurements_clean.csv")

# Deleting extra column and double-checking the data
del measurements_pd['Unnamed: 0']
stations_pd.head()
measurements_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [4]:
Base = declarative_base()

# Creating the station class for the table
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitutde = Column(Float)
    elevation = Column(Float)

# Creating the measurement class for the table
class Measurement(Base):
    __tablename__ = 'measurements'
    meas_id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [5]:
# Defining and creating the ORM
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

Base.metadata.create_all(engine)
session = Session(bind=engine)
session.commit()