In [12]:
# Importing Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

# Reading CSVs
stations_pd = pd.read_csv("Instructions/Resources/hawaii_stations.csv")
measurements_pd = pd.read_csv("Instructions/Resources/measurements_clean.csv")

# Deleting extra column and double-checking the data
del measurements_pd['Unnamed: 0']
measurements_pd.head()
stations_pd.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [13]:
Base = declarative_base()

# Creating the station class for the table
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitutde = Column(Float)
    elevation = Column(Float)

# Creating the measurement class for the table
class Measurement(Base):
    __tablename__ = 'measurements'
    meas_id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [14]:
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

Base.metadata.create_all(engine)
session = Session(bind=engine)
session.commit()