<script>
  jQuery(document).ready(function($) {

  $(window).load(function(){
    $('#preloader').fadeOut('slow',function(){$(this).remove();});
  });

  });
</script>

<style type="text/css">
  div#preloader { position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
      width: 100%;
      height: 100%;
      overflow: visible;
      background: #fff url('http://preloaders.net/preloaders/720/Moving%20line.gif') no-repeat center center;
  }

</style>

<div id="preloader"></div>

<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code: You may get confused')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

## Heroes of Pymoli Data Analysis
* a
* b
* c

## Player Count

In [66]:
import pandas as pd
import numpy as np
import os

json_path = os.path.join("Instructions","HeroesOfPymoli","purchase_data.json")
heroes_data = pd.read_json(json_path)

heroes = (len(heroes_data["SN"].value_counts()))
player_data = pd.DataFrame({
    "Player Count": [heroes]
})
player_data
# Columns - Age, Gender, Item ID, Item Name, Price, SN

   Player Count
0           573

## Purchasing Analysis (Total)

In [67]:
unique_items = (len(heroes_data["Item ID"].unique()))
average_items = round(heroes_data["Price"].mean(), 2)
total_purchases = (len(heroes_data["Item ID"]))
total_revenue = round(heroes_data["Price"].sum(), 2)

purchase_analysis = pd.DataFrame({
    "# Of Unique Items": [unique_items],
    "Average Price": [average_items],
    "# Of Number Purchases": [total_purchases],
    "Total Revenue": [total_revenue]
})
purchase_formatted = purchase_analysis[["# Of Unique Items", "Average Price", "# Of Number Purchases", "Total Revenue"]]
purchase_formatted

   # Of Unique Items  Average Price  # Of Number Purchases  Total Revenue
0                183           2.93                    780        2286.33

## Gender Demographics

In [71]:
genders = heroes_data["Gender"].value_counts()
genders

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

## Purchasing Analysis (Gender)

In [69]:
gender_count = heroes_data.groupby("Gender").count()['Item ID']
gender_avg = round(heroes_data.groupby("Gender")["Price"].mean(), 2)
gender_sum = heroes_data.groupby("Gender")["Price"].sum()
gender_normalized = gender_sum/purchase_analysis["# Of Number Purchases"]

gender_df = pd.DataFrame({
    "Purchase Count": gender_count,
    "Average Purchase Value": gender_avg,
    "Total Purchase Value": gender_sum,
    "Normalized Totals": gender_normalized
})
gender_df

,Average Purchase Value,Normalized Totals,Purchase Count,Total Purchase Value
Female,2.82,NaN,136.0,382.91
Male,2.95,NaN,633.0,1867.68
Other / Non-Disclosed,3.25,NaN,11.0,35.74
0,NaN,NaN,NaN,NaN

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#999; background:#fff;">
Created with Jupyter, delivered by Fastly, rendered by Rackspace.
</footer>